.is-head-bg{
	height: 222px;
	background: url(../image/about-head-bg.png) center 0 no-repeat;
}
.is-nav-bar{
	height: 54px;
	background-color: #97acc1;
	min-width: 1120px;
}
.is-center-bar{
	width: 1120px;
	margin: 0 auto;
	height: 54px;
}
.is-tab-ul{
	margin: 0;
	padding:0; 
}
.is-tab-item{
	float: left;
	width: 176px;
	text-align: center;
	line-height: 54px;
	color: #fff;
	cursor: pointer;
}
.is-page-content{
	width: 1120px;
	margin: 0 auto;
}
.is-right-content-bar{
	overflow: hidden;
}
.is-aside-bar{
	width: 172px;
	background-color: #efefef;
	min-height: 500px;
	padding: 30px 2px 0 2px;
}
.is-left-aside-item{
	padding: 8px 34px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
}
.is-aside-bar .active{
	background-color: #fff;
}
.is-tab-ul .active{
	background-color: #fff;
	color: #000;
}
.is-right-c-title{
	line-height: 150px;
	border-bottom: 1px solid #eaeaea;
	color: #444444;
	font-size: 30px;
	padding-left: 34px;
}
.is-right-c-detail{
	line-height: 20px;
	font-size: 16px;
	color: #444;
	padding: 40px 14px;
}
.is-page-content-wrap{
	display: none;
}
.is-content-wrap{
	display: none;
}
.is-show{
	display: block;
}
.is-p-inner{
	padding: 10px 0;
	font-size: 14px;
}