.pull-left {float: left;}
.pull-right {float: right;}
.clearfix {*zoom: 1;}
.clearfix:after {
	content: "";display: table;clear: both;
}
.after-line {position: relative;}
.after-line:after {position: absolute;right: 0;top: 10px;bottom: 10px;width: 1px;background-color: #ccc;}